In [2]:
#Music recommender done by javicab2 v1.0
import pandas as pd
music_data = pd.read_csv("music.csv") #Read file music.csv
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [3]:
X = music_data.drop(columns=["genre"]) # Erase column genre, X is the imput
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [4]:
y = music_data["genre"] #Y is the output
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv("music.csv")
X = music_data.drop(columns=["genre"])
y = music_data["genre"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2) #dataset divided in trainning %80 and testing %20

model = DecisionTreeClassifier()   #model contructor
model.fit(X_train,y_train)  #model learning
predictions = model.predict(X_test) #precitions with test dataset

score = accuracy_score(y_test,predictions)  #accuaracy calculation
score

1.0

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import joblib


music_data = pd.read_csv("music.csv")
X = music_data.drop(columns=["genre"])
y = music_data["genre"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train,y_train)

joblib.dump(model,"recomendador_musica.joblib") #model saved as recomendador_musica

['recomendador_musica.joblib']

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import joblib

model = joblib.load("recomendador_musica.joblib") # model uploaded 
predictions = model.predict([[21,1]]) #prove we can not train it again
predictions

array(['HipHop'], dtype=object)

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import joblib
from sklearn import tree 


music_data = pd.read_csv("music.csv")
X = music_data.drop(columns=["genre"])
y = music_data["genre"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train,y_train)

#decision tree exportation
tree.export_graphviz(model, out_file="recomendador_musica.dot", 
                     feature_names=["age","gender"],
                     class_names=sorted(y.unique()),
                     label="all",
                     rounded=True,
                     filled=True)